:root{
    --fontinter: "Inter", sans-serif;
    --ligthblue: #D8DFE8;
    --darkblue: #0A3871; 
    --backcolor: #7d6c5f;
}

html{
    font-size: 62.5%;

}

body{
    background-color: var(--backcolor);
    background-image: linear-gradient(to right, black, gray  );
    font-family: var(--fontinter);
}

header{
    margin-top: 2dvh;
    margin-bottom: 5rem;
    width: 60%;
}

main{
    display: flex;
    justify-content: space-around;
}

header img{
    width: 120px;
    height: 48px;
}

.seccion1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68dvh;
    
}

.ingrese_texto::placeholder{
    color: var(--ligthblue);
}

.ingrese_texto{
    width: 100%;
    max-width: 577px;
    height: 50dvh;
    margin-bottom: 3rem;
    border: none;
    background-color: transparent;
    outline-offset: 2px solid;
    outline: none;
    resize: none;
    color: var(--ligthblue);
    font-size: 3rem;
    font-weight: 400px;
    font-family: var(--fontinter);

}

.ingrese_texto::-webkit-scrollbar{
    width: 0;
}

h1{
    display: flex;
    align-items: center;
    gap:16px; 
    font-style: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: var(--ligthblue);
}

.encriptar{
    border-radius: 24px;
    background-color: var(--darkblue);
    color: white;
    font-size: 1.6rem;
    padding: 1rem, 2rem;
    font-weight: 400;
    border: 1px solid var(--darkblue);
    margin-right: 20px;
    width: 328px;
    height: 67px;
}

.desencriptar{
    border-radius: 24px;
    background-color: var(--ligthblue);
    color: var(--darkblue);
    font-size: 1.6rem;
    padding: 1rem, 2rem;
    font-weight: 400;
    border: 1px solid var(--darkblue);
    margin-right: 20px;
    width: 328px;
    height: 67px;
}

.seccion2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 40rem;
    height: 80dvh;
    border-radius: 32px;
    font-style: var(--fontinter);
    font-size: 2rem;
    color: var(--darkblue);
}


.desen-texto{
    display: grid;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

.desen-texto p{
    font-size: 1.7rem;
    text-align: center;
}

.solucion{
    width: 80%;
    height: 90%;
    font-size: 12px;
    font-weight: 300;
    font-family: var(--fontinter);
    box-sizing: border-box;
}

.copiar{
    height: 40dvh;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton-copiar{
    height: 6rem;
    width: 335px;
    border: 1px solid var(--darkblue);
    border-radius: 24px;
    background-color: var(--ligthblue);
}

.boton-copiar p{
    font-size: 16px;
    font-family: var(--fontinter);
    color: var(--darkblue);
}

.respuesta{
    position: absolute;
    box-sizing: border-box;
    width: 320px;
    height: 40%;
    margin-bottom: 18.3rem;
    font-family: var(--fontinter);
    font-size: 24px;
    color: var(--darkblue);
}

.ocultar{
    display: none;
}

footer{
    width: 100%;
    height: 7dvh;
}


.firma_dev{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    color: var(--ligthblue);
}



@media screen and (max-width:768px){
    main {
        flex-direction: column;
        margin-left: 4rem;
    }

    .seccion2{
        width: 68rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width:375px) {
    main{
        margin-left: 1rem;
    }

    .seccion2{
        width: 33rem;
    }
}